.st-dn {
    border-color: rgba(49, 51, 63, 0.2);
}
.streamlit-expanderHeader p{
    font-weight: bold;
}
.streamlit-expanderHeader {
    background: #a8eba495;
}
.streamlit-expanderContent {
    background: #c1e9be2e;
}
